@model Fast_Report_API.Models.PrintOutModels.ReportModel;
@{
    ViewData["Title"] = "Report View";
    var resp1 = ViewBag.Resp;
    var resp2 = ViewBag.Resp2;
    var resp3 = ViewBag.Resp3;
}



<div class="text-center">
    @await ViewBag.WebReport.Render();
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function() {
   
        var title = @Html.Raw(Json.Serialize(ViewBag.ReportName));



        var resp1 = @Html.Raw(Json.Serialize(ViewBag.Resp));
        var resp2 = @Html.Raw(Json.Serialize(ViewBag.Resp2));
        var resp3 = @Html.Raw(Json.Serialize(ViewBag.Resp3));
        console.log("title", title);
        console.log("resp1", resp1);
        console.log("resp2", resp2);
        console.log("resp3", resp3);
        $('#dlBtn').click(function() {
            window.location.href = '@Url.Action("saveFile", "Home")?title='+title +'&response=' + resp1 +'&response2=' + resp2 +'&response3=' + resp3;
        });


    });
</script>